h1{
    font-size: 1rem;
    color:brown;
}

body{
    padding-right: 5px;
    padding-left: 5px;
}

.bodyIndex {
    background-color: rgb(225, 247, 247);
}

.contenido1 {
    padding-top: 10px;
    background-color: rgb(207, 230, 230);
}

.nav-item:hover {
    color: wheat;
    background-color: lightslategray;
}

.footerT {
    background-color: rgb(20, 19, 19);
    padding: 5px;
    border-top: 3px solid rgb(53, 56, 58);
}

h3{
    color:lightgray;
}

.telefonoHorario {
    color:lightgray;
}

.horario2 {
    color:lightgray;
}

.contenedor-clima {
    display: flex;
  }
  
  #clima {
    margin-left: 5px;
  }